/**
 *  Variables
 */

$primaryOrange: #FF6600;
$primaryGray: #424242;
$secondaryGray: #EAEAEA;
$black: #000000;
$white: #FFFFFF;

$splashFont: 'PermanentMarker';
$fontSizeMedium: 24px;
$fontSizeLarge: 32px;
$fontSizeXL: 40px;

$imageTint: rgba(66,66,66,0.7);

$headerHeight: 50px;

/**
 *  Brand Classes
 */

.logo {
  font-family: $splashFont;
}

/**
 *  Brand Buttons
 */

button {
  border: 1px solid $primaryOrange;
  font-family: sans-serif;

  &.primary {
    background-color: $primaryOrange;
    color: white;

    &:hover {
      background-color: darken($primaryOrange, 5%);
      color: $white;
    }
  }

  &.secondary {
    background-color: $white;
    color: $primaryOrange;
    &:hover {
      background-color: darken($white, 5%);
      color: $primaryOrange;
    }
  }

  &.tertiary {
    background-color: $black;
    color: $white;
    border-color: $black;
    &:hover {
      background-color: $primaryGray;
      color: $white;
    }
  }
}

/**
  *  Mixins
  */
