@import '../../../shared/styles/globals.scss';

.shop-page {
  margin-top: $headerHeight;

  height: 600px;

  .hero {
    background-color: $black;
    text-align: center;

    &.jumbotron {
      margin-bottom: 0;
    }

    .hero-text {
      font-family: $splashFont;
      color: $primaryOrange;
      font-size: $fontSizeGiant;
    }
  }

  // Content wrappers
  .content-container {
    &.container-fluid {
      padding-left: 0;
    }
  }

  .side-nav-wrapper {
    display: none;

    @include breakpoint(medium) {
      display: block;
      width: 25%;
      float: left;
    }
  }

  .main-content {
    @include breakpoint(medium) {
      width: 75%;
      float: right;
    }
  }

  // Side Nav
  .side-nav {
    display: flex;
    flex-direction: column;

    .side-nav-header {
      color: $secondaryGray;
      background-color: $primaryGray;
      text-align: center;
    }

    .side-nav-link {
      height: $headerHeight;
      background-color: $secondaryGray;
      color: $primaryGray;
      font-size: $fontSizeLarge;
      padding: 10px;

      &.selected {
        background-color: $white;
        color: $black;
      }

      &:hover {
        text-decoration: none;
        background-color: darken($secondaryGray, 10%);
      }

      &:focus {
        text-decoration: none;
      }
    }
  }

  .grid-header {
    display: inline-block;
    width: 100%;

    .title {
      float: left;
    }

    .search {
      float: right;
      margin-top: 20px;
    }
  }

  // Product Grid
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    padding: $paddingLarge;

    .product-card {
      border: 1px solid $secondaryGray;
      margin: auto;
      padding: $paddingLarge;
      height: 280px;
      overflow: hidden;
      width: 100%;
      height: 350px;

      &:hover {
        border-color: $primaryGray;
      }

      @include breakpoint(medium) {
        width: 50%;
      }

      @include breakpoint(large) {
        width: 33%;
      }

      .image-background {
        background-color: $primaryGray;
        background-image: linear-gradient($primaryGray, $black);
        width: 100%;
      }

      .product-image {
        width: 150px;
        height: 150px;
        margin: auto;
        background: no-repeat center;
        background-size: cover;
      }

      .name {
        margin-top: 10px;
        font-weight: $fwBold;
        font-size: $fontSizeMedium;
      }
    }
  }
}