@import '../../../shared/styles/globals.scss';

.shop-page {
  margin-top: $headerHeight;

  height: 600px;

  .hero {
    background-color: $black;
    text-align: center;

    &.jumbotron {
      margin-bottom: 0;
    }

    .hero-text {
      font-family: $splashFont;
      color: $primaryOrange;
      font-size: $fontSizeXL;
    }
  }

  .content-container {

    &.container-fluid {
      padding-left: 0;
    }
  }

  // Side Nav
  .side-nav {
    display: flex;
    flex-direction: column;

    .side-nav-header {
      color: $secondaryGray;
      background-color: $primaryGray;
      text-align: center;
    }

    .side-nav-link {
      height: $headerHeight;
      background-color: $secondaryGray;
      color: $primaryGray;
      font-size: $fontSizeMedium;
      padding: 10px;

      &:hover {
        text-decoration: none;
        background-color: darken($secondaryGray, 10%);
      }
    }
  }

  .grid-header {
    .title {
      float: left;
    }

    .search {
      float: right;
    }
  }

  // Product Grid
  .product-grid {

    .product-row {
      display: inline-block;
      margin-top: 15px;
    }

    .product-card {
      display: flex;
      flex-direction: column;
      border: 1px solid $secondaryGray;
      padding: 15px;

      &:hover {
        border-color: $primaryGray;
      }
    }
  }
}