@import '../../../shared/styles/globals.scss';

.header {
  background-color: $primaryGray;

  &.navbar  {
    margin-bottom: 0;
    height: $headerHeight;
  }

  .navbar-brand {
    padding: 0 15px;
  }
}