@import '../../../shared/styles/globals.scss';

.header {
  background-color: $primaryGray;

  &.navbar  {
    margin-bottom: 0;
    // position: fixed;
    // width: 100%;
    // top: 0;
    height: $headerHeight;
  }

  .logo {
    color: $primaryOrange;
    font-size: $fontSizeLarge;
    letter-spacing: 3.5px;
  }
}