@import '../../../shared/styles/globals.scss';

.header {
  background-color: rgba($secondaryColor, 0.4);

  &.navbar  {
    margin-bottom: 0;
    position: fixed;
    width: 100vw;
  }

  .logo {
    color: $primaryColor;
    font-size: $fontSizeLarge;
    letter-spacing: 3.5px;
  }
}